*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#heading{
    text-align: center;
}

#heading h1{
    font-size: 24px;
    color: white;

}

.border{
    line-height: 1.8rem;
    border: 1px solid white;
}

#tireButton{
    background-color: red;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;

}

.tyre::after{
    background-color: aqua;
    width: 200px;
    height: 200px;
    background-color: red;
}

